p {
     color: blue;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 30px;
     border: 2px solid greenyellow;
}

q {
     color: blue;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 100px;
     border: 2px solid greenyellow;
}