/* CSS reset */
* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 
 /* Style for layout */
 #layout {
     display: flex;
     flex-direction: column;
     min-height: 100vh;
 }
 
 header,
 main,
 footer {
     padding: 20px;
 }
 
 main {
     display: flex;
     flex-wrap: wrap;
 }
 
 #content {
     flex: 1;
     background-color: lightblue;
     min-width: 200px; /* Đảm bảo aside không quá nhỏ */
 }
 
 aside {
     background-color: lightgreen;
     min-width: 200px; /* Đảm bảo aside không quá nhỏ */
     margin-top: 20px; /* Tạo khoảng cách giữa aside và content */
 }
 
 .box-list {
     list-style-type: none;
     padding: 0;
     margin: 0;
     display: flex;
     flex-wrap: wrap;
 }
 
 .box-list li {
     flex: 1;
     min-width: 200px; /* Kích thước tối thiểu cho mỗi box */
     padding: 10px;
     margin: 5px;
     background-color: lightcoral;
 }
 