* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 
 img { border: none; vertical-align: top; }
 
 /* Nội dung layout */
 #layout {
     border: 1px solid #a3a2a3;
     margin: 20px auto;
     width: 700px;

     display: flex;
     flex-direction: column;
     min-height: 200px;
 }
 header, footer, #content, aside, .box-list li {
     font-size: 30px;
     text-align: center;
 }
 header {
     background-color: #92dfc8;
     height: 80px;
     line-height: 80px;
 }
 main {
     display: flex;
     flex-wrap: wrap;
 }
 #content {
     flex: 1;
     background-color: #caeff2;
     height: 400px;
     line-height: 400px;
     min-width:     200px;
 }
 aside {
     background-color: #f2d8ca;
     height: 400px;
     line-height: 400px;
     width: 200px;
     min-width: 200px;
 }
 .box-list {
     list-style-type: none;
     display: flex;
     margin-top: 10px;
     display: flex;
     flex-wrap: wrap;
 }
 .box-list li {
     flex: 1;
     background-color: #f2f1ca;
     height: 150px;
     line-height: 150px;
     text-align: center;
     margin-right: 10px;
     margin-bottom: 10px;
     width: 167.49px;
 }
 .box-list li:last-child {
     margin-right: 0;
 }
 footer {
     background-color: #eecbf3;
     height: 80px;
     line-height: 80px;
 }
 
 @media only screen and (max-width: 700px) {
     #layout {
          width: 400px;
     }
     aside {
         width: 100%; 
     }
     section {
          width: 100%;
          display:block;
     }
 
     .box-list {
          flex-wrap: wrap; 
      }
  
      .box-list li {
          flex-basis: calc(50% - 10px); 
          max-width: calc(50vw - 10px); 
      }
 }


 @media only screen and (max-width: 300px) {
     #layout {
          width: 300px;
     }
     aside {
         width: 100%; 
     }
     section {
          width: 100%;
          display:block;
     }
 
     .box-list {
          margin-right: 0px; 
      }
  
      .box-list li {
          flex-basis: calc(100%);
          max-width: calc(50vw);
          margin-right: 0px;
      }
 }
 

